<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>砍价成功</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="css/style.css" />
</head>
<body>
<div class="container">
    <div class="success content">
        <div class="w_320 mg_auto"><br>
          <div class="s_logo"></div>
          <div class="title">
                <div class="img">
                    <img src="images/100.jpg"  width="44" height="44" />
                </div>
                <div class="text">
                    <div class="float_left img"></div>
                    <div class="float_left box">十二万分感谢！你一出手就帮我杀掉3元！现在“SEIKO精工 - 自动机械手表 女表 宝石轴承机芯 SYMG73J1”的当前价是：</div>
                </div>
                <div class="clear"></div>
          </div>
          <div class="price">￥4567.00</div>
        </div>

        <div class="explain">
            <div class="text pd_l10 color_31">您已经获得5积分，登录微趣拍即可领取。</div>
            <div class="text pd_l10 color_33">积分可以兑换拍券在购物时抵现金用</div>
            <div class="text pd_l10 color_31">分享到朋友圈还可以请更多朋友来一起杀价哦~</div>
        </div>
        <div class="success_mg">
           <div class="w_50ps float_left">
               <input type="button" value="登陆微趣拍" class="button mg_l27" />
           </div>
           <div class="w_50ps float_left">
               <input type="button" value="分享至朋友圈" class="buttonTwo mg_l27" />
           </div>
            <div class="clear"></div>
        </div>
        <div class="explain mg_t10">
            <div class="text pd_l10 color_oob ">这是一个新奇有趣的购物方法，底价宝贝等你领回家！</div>
        </div>
        <div class="success_mg">
            <div class="float_left mg_l37" ><img src="images/product.jpg" width="50" /></div>
            <div class="float_left mg_l37"><img src="images/product.jpg" width="50" /></div>
            <div class="float_left mg_l37"><img src="images/product.jpg" width="50" /></div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
        <div class="logo"></div>
    </div>
</div>
</body>
</html>