<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>微趣拍--杀价成功</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="css/share.css" />
    <script src="js/zepto.js"></script>
    <script>
        $(function(){
            $(".dialog").show();
            $(".dialog_dis").show();
            $(".dialog,.dialog_dis").click(function(){
                $(".dialog").hide();
                $(".dialog_dis").hide();
            })
        })
    </script>
</head>
<body>
<section id="top">
    <div class="contain">
        <div class="dialog_dis"></div>
        <article class="fl"><img src="images-share/100.jpg"  width="46" height="46"/></article>
        <article class="dis_right">
            <div class="float_left discont">
                <div>好快的刀！好利的剑！</div>
            </div>
            <div class="clear"></div>
        </article>
        <div class="clear"></div>
        <div class="killimg">
            <img src="images-share/kill_success.jpg" width="282" height="96" />
        </div>
        <aside class="font_13">
            <ul>
                <li class="color364 align_center font_18">"您帮忙杀掉了<span class="colorff2 font_25">3</span>元"</li>
                <li class="color364 align_center">当前价格</li>
                <li class="colorff2 align_center font_18">108.00</li>
                <li style="width: 200px;margin:auto;">
                    <div class="float_left"><input type="button"  class="btn_kill3"/></div>
                    <div class="float_right"><input type="button"  class="btn_kill4 "/></div>
                    <div class="clear"></div>
                </li>
                <li> </li>
                <li class="color364 align_center">立刻下载微趣拍APP，拥有自己的一元商品！</li>
                <li class="pro">
                    <div><img src="images-share/product.jpg" width="50" height="50" /></div>
                    <div><img src="images-share/product.jpg" width="50" height="50" /></div>
                    <div><img src="images-share/product.jpg" width="50" height="50" /></div>
                    <div class="clear"></div>
                </li>

            </ul>
        </aside>
        <div class="clear"></div>
    </div>
    <div class="bottom"><div class="dis_bottom"></div></div>
</section>
<section id="friend">
    <div class="color364 align_center">———— 看看小伙伴们的贡献 ————</div>
    <div class="friend_top"></div>
    <div class="friend_bg">
        <aside>
            <ul>
                <li>
                    <div class="w_132 float_left" style="text-align: right;padding-right:5px;">速度快赶上大风过后</div>
                    <div class="friend_img float_left">
                        <img src="images-share/100.jpg" width="20" height="20" />
                    </div>
                    <div class="w_132 float_left" style="padding-left:5px;"><span class="float_left">0.99元</span><span class="float_right color_555">2小时前</span></div>
                    <div class="clear"></div>
                </li>
                <li>
                    <div class="w_132 float_left" style="text-align: right;padding-right:5px;">fff</div>
                    <div class="friend_img float_left">
                        <img src="images-share/100.jpg" width="20" height="20" />
                    </div>
                    <div class="w_132 float_left" style="padding-left:5px;"><span class="float_left">0.99元</span><span class="float_right color_555">2小时前</span></div>
                    <div class="clear"></div>
                </li>
                <li>
                    <div class="w_132 float_left" style="text-align: right;padding-right:5px;">速度快赶上大风过后</div>
                    <div class="friend_img float_left">
                        <img src="images-share/100.jpg" width="20" height="20" />
                    </div>
                    <div class="w_132 float_left" style="padding-left:5px;"><span class="float_left">0.99元</span><span class="float_right color_555">2小时前</span></div>
                    <div class="clear"></div>
                </li>
            </ul>

        </aside>
    </div>
</section>
<div class="dialog"></div>
</body>
</html>