<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>注册成功</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="css/style.css" />
</head>
<body class="color_ffa">
<div class="container login_bg">
    <div class="w_320 mg_auto login"><br>
        <div class="reg_success"></div>
        <div class="mg_t40 color_fff al_center">下载安装微趣拍，享受你的专属底价吧！</div>

    </div>
    <div class="reg_logo"></div>
    <div class="mg_t10 al_center">
        <input type="button" class="reg_btn" value="下载并安装"/>
    </div>
    <div class="reg_b_logo"></div>
</div>
</body>
</html>