<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>注册页面</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="css/style.css" />
</head>
<body class="color_ffa">
<div class="container login_bg">
    <div class="w_320 mg_auto login">
        <div class="h_33px"></div>
        <div class="title"></div>
        <div class="al_center">
            <input type="text" placeholder="用户名/手机号" />
        </div>
        <div class="al_center mg_t10">
            <input type="password" placeholder="密码" />
        </div>
        <div class="al_center mg_t10">
            <input type="password" placeholder="昵称" />
        </div>
        <div class="mg_t10 color_fff al_center">对不起，用户名或密码错误，请重新输入</div>
        <div class="login_btn">
            <input type="button" class="log w_50ps float_left" value="登陆" />
            <input type="button" class="reg w_50ps float_left" value="注册" />
            <div class="clear"></div>
        </div>
        <div class="explain"><br>
            <div class="text pd_l10 color_782 font_weight mg_t10">在微趣拍：</div>
            <div class="text pd_l10 color_782">您可以买到质优价廉的心仪的宝贝，我们承诺制卖正品！
                您还可以用刚才您体验到的这种方式，请朋友们来帮您
                杀价最终价格或可低至<span class="color_fff">0</span>元！
                <br>您还可以和小伙伴儿们组团杀价，砍它个不亦乐乎，痛
                痛快快的购物！</div>
        </div>
    </div>
</div>
</body>
</html>