<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>慧吃慧喝</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="css/style.css" />
</head>
<body class="color_ffa">
<div class="container login_bg">
    <div class="w_320 mg_auto login">
        <div class="sharedown mg_auto">
            <div class="eat">
                <div class="float_left"><img src="images/eat.jpg" width="88" /></div>
                <div class="float_left mg_l10 w_60ps">
                    <div class="sharetitle">香草香草云南特色火锅</div>
                    <div class="sharedis">[11店通用]赠送香草特色乌姬鸡卷一份，消费一次限一份</div>
                    <div class="sharedis mg_t10">有效期 2014-07-07</div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="mg_t40 color_fff w_280 mg_auto">
            <div>微趣拍请客啦！！</div>
            <div class="mg_t10 sharecontent">点击下载微趣拍APP便可随轻松拥有“香草香草云南特色火锅拼盘一份”下载安装微趣拍，享受你的专属优惠吧！</div>
        </div>
    </div>
    <div class="reg_logo"></div>
    <div class="mg_t10 al_center">
        <input type="button" class="reg_btn" value="下载并安装"/>
    </div>
    <div class="reg_b_logo"></div>
</div>
</body>
</html>