<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>微趣拍--分享战果</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="css/share.css" />
</head>
<body>
<section id="top">
    <div class="contain">
        <article class="fl"><img src="images-share/100.jpg"  width="46" height="46"/></article>
        <article class="dis_right">
            <div class="float_left discont">
                <div>感谢各位拔刀相助！这是一起努力的战果</div>
            </div>
            <div class="clear"></div>
        </article>
        <div class="clear"></div>
        <div class="killimg">
            <img src="images-share/share3.jpg" width="282" height="96" />
        </div>
        <aside class="font_13">
            <ul>
                <li class="color364">“韩国可宝 (KOBOS) 真皮 不锈钢钥匙圈 指甲钳韩国可宝 (KOBOS) 真皮 不锈钢钥匙圈 指甲钳韩国可宝 (KOBOS) 真皮 不锈钢钥匙圈 指甲钳”</li>
                <li>
                    <div class="product">

                       <img src="images-share/product.jpg" width="150" height="150"  class="img" />
                        <div class="pro_dialog"></div>
                    </div>

                    <div class="pro_zhe">最终战果<br><div class="font_18 pad_t5">13.00</div></div>
                    <div class="clear"></div>
                </li>
                <li class="align_center"><input type="button" class="btn_kill2"/><br></li>
                <li></li>
                <li></li>
            </ul>
        </aside>
    </div>
    <div class="bottom"><div class="dis_bottom"></div></div>
</section>
<section id="friend">
    <div class="color364 align_center">———— 看看小伙伴们的贡献 ————</div>
    <div class="friend_top"></div>
    <div class="friend_bg">
        <aside>
            <ul>
                <li>
                    <div class="w_132 float_left" style="text-align: right;padding-right:5px;">速度快赶上大风过后</div>
                    <div class="friend_img float_left">
                        <img src="images-share/100.jpg" width="20" height="20" />
                    </div>
                    <div class="w_132 float_left" style="padding-left:5px;"><span class="float_left">0.99元</span><span class="float_right color_555">2小时前</span></div>
                    <div class="clear"></div>
                </li>
                <li>
                    <div class="w_132 float_left" style="text-align: right;padding-right:5px;">速度快赶上大风过后</div>
                    <div class="friend_img float_left">
                        <img src="images-share/100.jpg" width="20" height="20" />
                    </div>
                    <div class="w_132 float_left" style="padding-left:5px;"><span class="float_left">0.99元</span><span class="float_right color_555">2小时前</span></div>
                    <div class="clear"></div>
                </li>
                <li>
                    <div class="w_132 float_left" style="text-align: right;padding-right:5px;">速度快赶上大风过后</div>
                    <div class="friend_img float_left">
                        <img src="images-share/100.jpg" width="20" height="20" />
                    </div>
                    <div class="w_132 float_left" style="padding-left:5px;"><span class="float_left">0.99元</span><span class="float_right color_555">2小时前</span></div>
                    <div class="clear"></div>
                </li>
            </ul>

        </aside>
    </div>
</section>
</body>
</html>