<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>慧吃慧喝分享详情页</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="css/style.css" />
</head>
<body>
<div class="container weixin">
    <div class="w_320 mg_auto">
        <div class="wechat_title">
            <div class="wechat_logo float_left"></div>
            <div class="float_left"><input type="button" class="wechat_down" /></div>
            <div class="clear"></div>
        </div>
        <div class="we_sharedown mg_auto w_320">
            <div class="eat">
                <div class="float_left"><img src="images/eat.jpg" width="110" /></div>
                <div class="float_left mg_l10 w_60ps">
                    <div class="sharetitle">香草香草云南特色火锅</div>
                    <div class="sharedis">[11店通用]赠送香草特色乌姬鸡卷一份，消费一次限一份</div>
                    <div class="sharedis mg_t10">有效期 2014-07-07</div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="wedetail mg_t10">
            <div class="wechatdis mg_auto">
                <div class="title"><strong>优惠详情</strong></div>
                <div class="mg_t10">1.拍券仅在购物时作为现金抵用</div>
                <div class="mg_t5">2.拍券仅在购物时作为现金抵用</div>
                <div class="mg_t5">3.拍券仅在购物时作为现金抵用</div>
                <div class="mg_t5">4.拍券仅在购物时作为现金抵用</div>

            </div>
            <div class="wechat_share_btn al_center"><input type="button" class="reg_btn" value="点此下载领取"></div>
            <div class="mg_t10 wechat_seller mg_auto">
                        <div class="title mg_t10"><strong>商家介绍</strong></div>
                        <div class="mg_t10">1.拍券仅在购物时作为现金抵用</div>
                        <div class="mg_t5">2.拍券仅在购物时作为现金抵用</div>
                        <div class="mg_t5">3.拍券仅在购物时作为现金抵用</div>
                        <div class="mg_t5">4.拍券仅在购物时作为现金抵用</div>
                        <div class="mg_t10">
                           <img src="images/eat.jpg"  />
                        </div>
            </div>
            <div class="wechat_title mg_t40 "></div>
        </div>
    </div>

</div>
</body>
</html>