<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>微信分享页</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="css/style.css" />
</head>
<body>
<div class="container wei">
    <div class="w_320 mg_auto">
       <div class="wechat_title">
           <div class="wechat_logo float_left"></div>
           <div class="float_left"><input type="button" class="wechat_down" /></div>
           <div class="clear"></div>
       </div>
       <div class="al_center">
          <h4 class="mg_t40 w_320">Hello Kitty粉色大耳机</h4>
          <div class="w_320 wechat ">市场价：￥147.00 &nbsp;/   &nbsp;微趣拍价：￥<span class="wechatcolor">145.00</span></div>
          <div class="mg_t10"><img src="images/pro_img.png" width="300" height="300"> </div>
          <div class="wechatdis mg_auto w_320"><br>
              <span>【商品信息】<br>
              对与想为自己配一款耳机的萌妹子，女汉子来说，此款都是上上之选哦！
              耳机上的萌态KITTY头像，淡雅而明丽，还勾起童年的回忆！
              除了其萌萌哒的外表外，其柔软的皮质耳套，可有效隔绝环境噪音哦~
              其音色更是如同你外观，柔和清丽！
              MM们还等什么呢？</span>
          </div>
           <div class="al_center mg_t40">
               <input type="button" class="reg_btn" value="下载并安装">
           </div>
       </div>
        <div class="wechat_title mg_t40">
        </div>
    </div>

</div>
</body>
</html>